apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: post-teardown-demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/scubbo/post-teardown-demo-deployment
    path: .
    targetRevision: HEAD
  destination: 
    name: hostcluster
    namespace: default
---
# TODO - should this instead be part of the Application definition itself?
# Probably not - the top-level access controls should remain under EngServices' control
apiVersion: crossplane-demo.legalzoom.com/v1alpha1
kind: XApplicationVaultBundle
metadata:
  name: application-vault-bundle-for-post-teardown-demo
spec:
  owner: {{ values.owner }}
  serviceName: post-teardown-demo
