apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${{ values.application_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: ${{ values.application_source }}
    path: .
    targetRevision: HEAD
  destination: 
    name: ${{ values.cluster_id }}
    namespace: default
---
apiVersion: crossplane-demo.legalzoom.com/v1alpha1
kind: XApplicationVaultBundle
metadata:
  name: application-vault-bundle-for-${{ values.application_name }}
spec:
  owner: ${{ values.owner }}
  serviceName: ${{ values.application_name }}
